<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secret.mapper.TicketMapper">

    <resultMap id="ticketVo" type="com.secret.vo.applet.TicketVo">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="theme_id" property="themeId"/>
        <result column="price" property="price"/>
        <result column="original_price" property="originalPrice"/>
        <result column="picture" property="picture"/>
        <result column="store_id" property="storeId"/>
        <result column="purchase_instructions" property="purchaseInstructions"/>
        <result column="introduce" property="introduce"/>
        <result column="stock" property="stock"/>
        <result column="sold" property="sold"/>
        <result column="maximum_number" property="maximumNumber"/>
        <result column="clustering_number" property="clusteringNumber"/>
        <result column="time" property="time"/>
        <result column="create_time" property="createTime"/>
        <result column="theme_name" property="themeName"/>
        <result column="terror_id" property="terrorId"/>
        <result column="terror_name" property="terrorName"/>
        <association property="storeVo" javaType="com.secret.vo.applet.StoreVo">
            <id column="store_id" property="id"/>
            <result column="store_name" property="name"/>
            <result column="province" property="province"/>
            <result column="city" property="city"/>
            <result column="region" property="region"/>
            <result column="address" property="address"/>
            <result  column="st_description" property="description"/>
            <result  column="content" property="content"/>
            <result  column="st_picture" property="picture"/>
            <result  column="phone" property="phone"/>
        </association>
    </resultMap>
    <sql id="tk">
        tk.id ,
        tk.name ,
        tk.description ,
        tk.theme_id  ,
        tk.price ,
        tk.original_price,
        tk.picture ,
        tk.store_id ,
        tk.stock,
        tk.sold,
        tk.create_time
    </sql>
    <sql id="tk_detail">
        tk_d.purchase_instructions,
        tk_d.introduce,
        tk_d.maximum_number,
        tk_d.clustering_number,
        tk_d.time
    </sql>
    <sql id="tm">
        tm.name as theme_name
    </sql>
    <sql id="tl">
        tl.id as terror_id,
        tl.name as terror_name
    </sql>
    <sql id="store">
        store.id as store_id ,
        store.name as store_name ,
        store.province  ,
        store.city ,
        store.region ,
        store.address
    </sql>

    <sql id="store_detail">
        store.phone
    </sql>

    <select id="page" resultMap="ticketVo">
        select <include refid="tk"/> , <include refid="tm"/> ,<include refid="tl"/>, <include refid="store"/>
            from s_ticket tk left join s_theme tm on tm.id = tk.theme_id
                left join s_terror_level tl  on tk.terror_id = tl.id
                left join s_store store on store.id = tk.store_id
        <where>
            <if test="ticketQueryParam.themeId !=null  ">
               and tm.id = #{ticketQueryParam.themeId}
            </if>
            <if test="ticketQueryParam.name !=null and ticketQueryParam.name !=''">
                and tk.name = #{ticketQueryParam.name}
            </if>
            and tk.delete_state = 0
        </where>
        order by tk.create_time desc
    </select>
    <select id="detailById" resultMap="ticketVo">
        select <include refid="tk"/> ,<include refid="tk_detail"/>, <include refid="tm"/> , <include refid="store"/>,<include refid="tl"/> ,<include refid="store_detail"/>
            from s_ticket tk
                        left join s_theme tm on tm.id = tk.theme_id
                        left join s_terror_level tl  on tk.terror_id = tl.id
                        left join s_store store on store.id = tk.store_id
                        left join s_ticket_detail tk_d on tk_d.ticket_id = tk.id
        where tk.id = #{id} and tk.delete_state = 0
    </select>

    <update id="increaseInventory">
        update s_ticket set stock = stock+1,sold =sold-1  where id = {id} and sold > 0
    </update>
</mapper>
