<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secret.mapper.GroupChatMapper">

    <resultMap id="chatListDto" type="com.secret.model.dto.ChatListDto">
        <id property="chatId" column="gc_id" />
        <result property="chatName" column="group_name"/>
        <result property="groupHeadImg" column="group_head_img"/>
        <result property="banned" column="banned"/>
        <result property="lastMessageId" column="last_message_id"/>
        <result property="message" column="content"/>
        <result property="messageId" column="gmc_id"/>
        <result property="messageTypeId" column="message_type_id"/>
        <result property="dateTime" column="create_time"/>
        <result property="nickname" column="nickname"/>
    </resultMap>

    <sql id="gc">
        gc.id as gc_id ,
        gc.group_name  ,
        gc.group_head_img ,
        gc.motorcade_id ,
        gc.banned
    </sql>

    <sql id="gcm">
        gcm.last_message_id ,
        gcm.is_group_leader
    </sql>
    
    <sql id="gmc">
        gmc.id = gmc_id ,
        gmc.content ,
        gmc.message_type_id ,
        gmc.create_time as gmc_create_time
    </sql>

    <sql id="u">
        u.nickname
    </sql>

    <select id="getChatByUserId" resultMap="chatListDto">
        SELECT
            <include refid="gc"/> , <include refid="gcm"/> , <include refid="gmc"/> ,<include refid="u"/>
        FROM
            s_group_chat gc
            JOIN s_group_chat_member gcm ON gc.id = gcm.group_id
            LEFT JOIN s_group_msg_content gmc ON gmc.group_id = gc.id
            AND gmc.id = ( SELECT max( id ) FROM s_group_msg_content WHERE group_id = gc.id )
            LEFT JOIN s_group_chat_member gcm2 on gcm2.id = gmc.member_id
            LEFT JOIN s_user u on u.id = gcm2.user_id
        WHERE
            gcm.user_id = {userId}
            AND gcm.delete_state = 0

    </select>
</mapper>
