<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secret.mapper.MyTicketMapper">

    <resultMap id="myTicketVo" type="com.secret.vo.applet.MyTicketVo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="price" property="price"/>
        <result column="order_num" property="orderNum"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <association property="ticketVo" javaType="com.secret.vo.applet.TicketVo">
            <id column="t_id" property="id"/>
            <result column="name" property="name"/>
            <result column="description" property="description"/>
            <result column="picture" property="picture"/>
            <result column="theme_id" property="themeId"/>
            <result column="theme_name" property="themeName"/>
        </association>
    </resultMap>

    <sql id="mt">
        mt.id ,
        mt.user_id ,
        mt.price ,
        mt.order_num ,
        mt.status ,
        mt.create_time
    </sql>

    <sql id="t">
        t.id as t_id ,
        t.name ,
        t.description ,
        t.picture
    </sql>

    <sql id="theme">
        theme.id as theme_id ,
        theme.name as  theme_name ,
    </sql>

    <select id="page" resultMap="myTicketVo">
        select <include refid="mt"/> ,<include refid="t"/> ,<include refid="theme"/> from s_my_ticket mt  join s_ticket t on t.id = mt.ticket_Id join s_theme theme on theme.id = t.theme_id
        <where>
            <if test="myTicketQueryVo.status !=null">
                and mt.status = #{myTicketQueryVo.status}
            </if>
            <if test="myTicketQueryVo.search !=null and myTicketQueryVo.search != ''">
                and (mt.name like concat('%',#{myTicketQueryVo.search},'%') or theme.name like concat('%',#{myTicketQueryVo.search},'%'))
            </if>
             <if test="userId != null">
                 and mt.user_id = #{userId}
             </if>
            and mt.delete_state = 0
        </where>

    </select>
    <select id="detail" resultMap="myTicketVo">
        select <include refid="mt"/> ,<include refid="t"/> ,<include refid="theme"/> from s_my_ticket mt  join s_ticket t on t.id = mt.ticket_Id join s_theme theme on theme.id = t.theme_id
        <where>
            mt.id = #{id}
            and mt.user_id = #{userId}

            and mt.delete_state = 0
        </where>
    </select>
</mapper>
