<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secret.mapper.GroupChatMemberMapper">

    <select id="isGroupMember" resultType="java.lang.Integer">
        SELECT
            count(gcm.id)
        FROM
            s_group_chat_member gcm
            JOIN s_group_chat gc ON gc.id = gcm.group_id
        WHERE
            gc.id = #{chatId}
            AND gcm.user_id = #{userId}
            AND gcm.delete_state = 0
    </select>
    <select id="getMemberHeadPortrait" resultType="java.lang.String">
        SELECT
            u.header_img
        FROM
            s_group_chat_member gcm
            JOIN s_user u ON u.id = gcm.user_id
        WHERE
            gcm.group_id = #{chatId}
            AND gcm.delete_state = 0
    </select>
    <select id="getUOpenIdByCId" resultType="com.secret.model.entity.UserEntity">
        select u.id , u.open_id from s_group_chat_member gcm join s_user u on u.id = gcm.user_id  where gcm.group_id = #{chatId} and gcm.delete_state = 0
    </select>
</mapper>
