<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secret.mapper.MotorcadeMapper">

    <resultMap id="motorcadeVo" type="com.secret.model.vo.MotorcadeVo">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="terror_level" property="terrorLevel"/>
        <result column="type_id" property="typeId"/>
        <result column="description" property="description"/>
        <result column="competition_date" property="competitionDate"/>
        <result column="pictures" property="pictures"/>
        <result column="status" property="status"/>
        <result column="maximum_number" property="maximumNumber"/>
        <result column="clustering_number" property="clusteringNumber"/>
        <result column="already_existing" property="alreadyExisting"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="type_name" property="typeName"/>
        <result column="terror_level_name" property="terrorLevelName"/>
        <result column="nickname" property="nickname"/>
        <result column="header_img" property="headerImg"/>
        <result column="theme_id" property="themeId"/>
        <result column="theme_name" property="themeName"/>
        <collection property="joinedMotorcadeVos" ofType="com.secret.model.vo.JoinedMotorcadeVo">
            <id column="jmt_id" property="id"/>
            <result column="motorcade_id" property="motorcadeId"/>
            <result column="u2_id" property="userId"/>
            <result column="u2_nickname" property="nickname"/>
            <result column="u2_header_img" property="headerImg"/>
        </collection>

    </resultMap>

    <sql id="mt">
        mt.id ,
        mt.title ,
        mt.price ,
        mt.terror_level  ,
        mt.type_id ,
        mt.description ,
        mt.competition_date ,
        mt.pictures ,
        mt.status,
        mt.maximum_number  ,
        mt.clustering_number ,
        mt.already_existing ,
        mt.create_time  ,
        mt.create_user
    </sql>
    <sql id="ft">
        ft.type_name
    </sql>

    <sql id="tl">
        tl.name as terror_level_name
    </sql>
    <sql id="u">
        u.nickname ,
        u.header_img
    </sql>

    <sql id="jmt">
        jmt.id as jmt_id,
        jmt.user_id as jmt_user_id,
        jmt.motorcade_id
    </sql>
    <sql id="u2">
        u2.id as u2_id,
        u2.nickname as u2_nickname,
        u2.header_img as u2_header_img
    </sql>

    <sql id="t">
        t.id as theme_id,
        t.name as theme_name
    </sql>

    <select id="getMotorcadeVoById" resultMap="motorcadeVo">
        SELECT
            <include refid="mt"/>
           , <include refid="ft"/>
            ,<include refid="tl"/>
            ,<include refid="u"/>
            ,<include refid="jmt"/>
            ,<include refid="u2"/>
            ,<include refid="t" />
        FROM
            s_motorcade mt
            LEFT JOIN s_user u ON mt.user_id = u.id
            LEFT JOIN s_fleet_type ft ON mt.type_id = ft.id
            LEFT JOIN s_terror_level tl ON mt.terror_level = tl.id
            LEFT JOIN s_theme t ON t.id = mt.theme_id
            LEFT JOIN s_joined_motorcade jmt on jmt.motorcade_id = mt.id
            LEFT JOIN s_user u2 on jmt.user_id = u2.id
        WHERE
            mt.id = #{id} and mt.delete_state = 0
    </select>
    <select id="getMotorcadeVoPage" resultMap="motorcadeVo">
        SELECT
        <include refid="mt"/>
        , <include refid="ft"/>
        ,<include refid="tl"/>
        ,<include refid="u"/>
        ,<include refid="jmt"/>
        ,<include refid="u2"/>
        ,<include refid="t" />
        FROM
        s_motorcade mt
        LEFT JOIN s_user u ON mt.user_id = u.id
        LEFT JOIN s_fleet_type ft ON mt.type_id = ft.id
        LEFT JOIN s_terror_level tl ON mt.terror_level = tl.id
        LEFT JOIN s_theme t ON t.id = mt.theme_id
        LEFT JOIN s_joined_motorcade jmt on jmt.motorcade_id = mt.id
        LEFT JOIN s_user u2 on jmt.user_id = u2.id
        <where>
            <if test="param.title !=null and param.title != '' ">
                and mt.title like concat('%',param.title,'%')
            </if>
            <if test="param.typeId != null">
                and ft.id = param.typeId
            </if>
        </where>
         and mt.delete_state = 0
         and mt.status = 1
    </select>
    <select id="getMotorcadeVo" resultMap="motorcadeVo">
        SELECT
        <include refid="mt"/>
        , <include refid="ft"/>
        ,<include refid="tl"/>
        ,<include refid="u"/>
        ,<include refid="jmt"/>
        ,<include refid="u2"/>
        ,<include refid="t" />
        FROM
        s_motorcade mt
        LEFT JOIN s_user u ON mt.user_id = u.id
        LEFT JOIN s_fleet_type ft ON mt.type_id = ft.id
        LEFT JOIN s_terror_level tl ON mt.terror_level = tl.id
        LEFT JOIN s_theme t ON t.id = mt.theme_id
        LEFT JOIN s_joined_motorcade jmt on jmt.motorcade_id = mt.id
        LEFT JOIN s_user u2 on jmt.user_id = u2.id
        <where>
            <if test="param.title !=null and param.title != '' ">
                and mt.title like concat('%',param.title,'%')
            </if>
            <if test="param.typeId != null">
                and ft.id = param.typeId
            </if>
        </where>
        and mt.delete_state = 0
    </select>
</mapper>
